{% extends "base.html" %}
{% block body %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="inner cover">
          <br>
          <div id="header">
            <img src="{{ url_for('static', filename='images/metro.png') }}" height="100" width="100" />
            <p class="lead results-element">Förgyll vardagen med ett<br>hemligt ställe i orten.</p>
          </div>
          <div><img id="error-image" src="{{ url_for('static', filename='images/error.png') }}" height="150" width="150" /></div>
          <div><img id="loading-image" src="{{ url_for('static', filename='images/loading.gif') }}" /></div>
          <div id="result" style="display: none;">
            <h3 id="company-name-element"><span class="label label-info results-element"><a id="company-name" target="_blank" href="#"></a></span></h3>
            <div class="results-element">
                <img src="{{ url_for('static', filename='images/metro.png') }}" height="40" width="40" />
                <a href="#" target="_new" id="google-maps-link"><h4 id="station"></h4></a>
            </div>
            <div id="buttons" class="results-element">
              <button id="vote-up" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span></button>
              <button id="vote-down" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            </div>
          </div>
          <input id="zone" class="results-element" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3]"
              data-slider-ticks-labels='["Innerstan", "Utanför tullarna", "Världens ände"]'
              data-slider-min="1"
              data-slider-max="3"
              data-slider-step="1"
              data-slider-value="2"
              data-slider-tooltip="hide" />
          <br><br>
          <input id="line" class="results-element" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4]"
              data-slider-ticks-labels='["Alla", "Gröna", "Röda", "Blå"]'
              data-slider-min="1"
              data-slider-max="4"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
          <br><button id="generate" class="btn btn-info btn-lg results-element">Slumpa!</button>
          <span class="glyphicon glyphicon-globe" id="globe"></span>
        </div>
      </div>
    </div>
{% endblock %}